* {
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: white;
    overflow-x: hidden;
    overflow-y: overlay;
}

::-webkit-scrollbar {
    width: 1vh;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(182, 144, 87);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(129, 22, 36);
}

body {
    background-color: black;
}

.bannerContainer {
    position: relative;
    z-index: -1;
    height: 35vw;
    overflow: hidden;
}

img {
height: 100%;
width: auto;
}


.bannerHead {
    
}

.content {
    width: 100%;
    margin-top: auto;
    background-color: rgb(10, 10, 10);
}

.header {
    padding-top: 5vw;
}

.title {
    color: rgb(182, 144, 87);
    padding-top: 1vw;
    letter-spacing: 5px;
}

.articleImg {
    float: right;
    width: 25%;
    height: auto;
}

.textWall {
    border: 5px solid rgb(182, 144, 87);
    padding: 5px;
    margin: 10vh;
}

.hidden {
    display: none;
}

@media screen and (max-width: 700px) {
    .textWall {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .title {
        margin-left: 10vw;
        margin-right: 10vw;
    }
}