.navBar {
    height: 10vh;
    width: 100%;
    position: fixed;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBG {
    position: absolute;
    z-index: -1;
    background-color: black;
    opacity: 0.7;
    height: 100%;
    width: 100%;
}

.icon {
    padding-left: 3vw;
    font-size: 2vh;
}

.menu {
    margin-right: 1vw;
    width: 4vh;
    height: 4vh;
    overflow: hidden;
}

.line {
    background-color: white;
    margin-bottom: 1.5vh;
    height: 1px;
    width: auto;
}

.navItems {
    list-style: none;
    display: flex;
}

.navItem {
    padding: 1vw;
    font-size: 1.5vh;
}

.link {
    text-decoration: none;
    font-size: 20px;
}

.navLink {
    color: rgb(182, 144, 87);
}

.activeLink {
    color: rgb(129, 22, 36);
}

 .modal {
    position: fixed;
    margin: 10vh 0 0 75vw;
    width: 25vw;
    height: 96vh;
    overflow: hidden;
}

.modalContent {
    width: 25vw;
    height: 100vh;
    margin-top: -96vh;
    position: fixed;
    z-index: 1;
}

.modalBg {
    background-color: black;
    height: 100%;
    width: auto;
    opacity: 0.7;
    position: relative;
    z-index: -1;
}

@media screen and (max-width: 700px) {
    .navItem {
        font-size: 2vh;
    }
}